.idea/vcs.xml
.idea/Pulsed-Photometry-Analysis.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
*.png
*.xlsx
__pycache__/BehaviorStruct.cpython-311.pyc
__pycache__/PhotometryStruct.cpython-311.pyc
__pycache__/BehaviorStruct.cpython-311.pyc
__pycache__/PhotometryStruct.cpython-311.pyc
